# Servidor Web
fastapi
uvicorn[standard]
python-multipart  # Necesario para recibir Form y File (UploadFile)

# Ciencia de Datos y ML
numpy
joblib
scikit-learn
matplotlib

# Visión Artificial (Versión headless para ahorrar RAM y evitar errores de GUI)
opencv-python-headless

# Deep Learning (Versión solo CPU para ARM)